body {
  background-color: #292a2c;
  padding-top: 3.5rem;
}

header {
  color: blueviolet;
  background-color: antiquewhite;
}

#ytPlayer {
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: aliceblue;
}

#searchfield {
  width: 400px;
  height: 3rem;
  padding-left: 20px;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: #292a2c;
  color: white;
  font-size: large;
}

#para {
  color: wheat;
  font-size: larger;
}