body {
  background-color: #292a2c;
}

header {
  color: white;
  background-color: #292a2c;
  font-size: 30px;
  font-style: oblique;
  padding-left: 10px;
}

#heading {
  text-decoration: none;
  color: white;
}

#ytPlayer {
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: aliceblue;
}

#searchfield {
  width: 400px;
  height: 3rem;
  padding-left: 20px;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: #292a2c;
  color: white;
  font-size: large;
}

#para {
  color: wheat;
  font-size: larger;
}